@import "tailwindcss";

/* C'est ici qu'on déclare notre design premium pour Tailwind v4 ! */
@theme {
  --color-sombre: #0F0F0F;
  --color-or: #D4AF37;
  --color-clair: #FAFAFA;
  
  --font-sans: "Inter", sans-serif;
}

:root {
  color-scheme: dark;
}

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  background-color: var(--color-sombre);
  color: var(--color-clair);
}